$primary-color: #5C80BC;

.navbar-wrapper {
  background-color: $primary-color;
}

.custom-menubar {
  background-color: $primary-color !important;
  border: none !important;
  padding: 0.8rem 1.2rem;

  .p-menubar-root-list {
    margin-left: auto !important;
  }

  .navbar-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: white !important;
  }

  .p-menuitem-link,
  .p-menuitem-link span,
  .p-menuitem-link .pi {
    color: white !important;
  }

  .p-menuitem-link:hover {
    background: rgba(255, 255, 255, 0.10) !important;
  }

  .active-menu > .p-menuitem-link {
    background: rgba(255, 255, 255, 0.10) !important;
    font-weight: 600 !important;

    span,
    .pi {
      color: white !important;
    }
  }
}